<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Admin Panel</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#user" routerLink="/user">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#post" routerLink="/post">Post</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="container">

        <!--     NgSwitch Example -->
    <div class="container">
        <h1>Angular NgSwitch Directive Example - ItSolutionstuff.com</h1>
    
        <div [ngSwitch]="mySwitchVar">
    
            <div *ngSwitchCase="'one'">
                <p>Switch Case One</p>
            </div>
    
            <div *ngSwitchCase="'two'">
                <p>Switch Case Two</p>
            </div>
    
            <div *ngSwitchCase="'three'">
                <p>Switch Case Three</p>
            </div>
    
            <div *ngSwitchDefault>
                <p>Switch Case Default</p>
            </div>
        </div>
    </div>

    <!--     ngIf Condition Example -->    
    <div class="container">
        <p *ngIf="isShow">Show this only if "show" is true</p>
    </div>
    
    <!--     ngIf Else Condition Example-->    
    <div class="container">
        <h1>ngIf Else Condition Example</h1>

        <div *ngIf="isShow; else ifNotShow">
            <p>Display if true.</p>
        </div>
        
        <ng-template #ifNotShow>
            <p>Display if not true.</p>
        </ng-template>
    </div>

    <!--     ngIf Else Template Example -->    
    <div class="container">
        <h1>ngIf Else Template Example</h1>
        <ng-template *ngIf="isShow;then ifShow; else ifNotShow">
        </ng-template>
    
        <ng-template #ifShow>
            <p>
                Display if true
            </p>
        </ng-template>
    
        <ng-template #ifNotShow>
            <p>
                Display if not true.
            </p>
        </ng-template>
    </div>


    <div class="container">
        <h1>Angular NgForm Example</h1>
        
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
            <input name="email" ngModel required #email="ngModel" placeholder="email">
            <br />
            <button>Submit</button>
            <button type="button" (click)="resetFormValue(myForm)">Reset</button>
            <button type="button" (click)="setDefault(myForm)">Set Default Value</button>
        </form>
        
        <p>Email Field Value: {{ email.value }}</p>
        <p>Email Field is Valid ? : {{ email.valid }}</p>
        
        <p>Form value: {{ myForm.value | json }}</p>
        <p>Form valid: {{ myForm.valid }}</p>
    </div>

    <div class="container">
        <h1>Angular NgModel Example - Set value</h1>

        <input [(ngModel)]="name" #ctrlName="ngModel" required>

        <p>Value: {{ name }}</p>
        <p>For Validation: {{ ctrlName.valid }}</p>

        <button (click)="setValueName()">Set Value!</button>
    </div>


    <div class="container">
        <h1>Angular NgModel Example - with ngForm</h1>

        <form #myForm2="ngForm" (ngSubmit)="onSubmit(myForm2)" novalidate>
            <input name="surname" ngModel required #surname="ngModel" placeholder="surname">
            <input name="number" ngModel required #number="ngModel" placeholder="number">
            <button>Submit</button>
        </form>

        <p>Surname Field Value: {{ surname.value }}</p>
        <p>Surname Field Is Valid?: {{ surname.valid }}</p>

        <p>Number Field Value: {{ number.value }}</p>
        <p>Number Field is Valid?: {{ number.valid }}</p>

        <p>Form value: {{ myForm2.value | json }}</p>
        <p>Form valid: {{ myForm2.valid }}</p>
    </div>
    






    <router-outlet></router-outlet>
</div>